Source: vatsinator
Section: web
Priority: extra
Maintainer: Michał Garapich <michal@garapich.pl>
Build-Depends: debhelper (>= 8.0.0),
               cmake (>=3.0),
               qtbase5-dev (>=5.6),
               qttools5-dev (>=5.6),
               qttools5-dev-tools (>=5.6)
Standards-Version: 3.9.3
Homepage: http://vatsinator.eu.org/

Package: vatsinator
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libqt5widgets5, libqt5network5
Description: Simple Vatsim monitor
 Vatsinator is an open-source Vatsim network monitor. It shows
 logged-in pilots and controllers, provides weather and airport information.
