Source: vatsinator
Section: web
Priority: extra
Maintainer: Michał Garapich <michal@garapich.pl>
Build-Depends: debhelper (>= 8.0.0),
               cmake,
               libqt4-core (>=4.8),
               libqt4-gui (>=4.8),
               libqt4-opengl (>=4.8),
               libqt4-network (>=4.8),
               libqt4-opengl-dev (>=4.8),
               qt4-qmake (>=4.8),
               libquazip0-dev,
               zlib1g-dev
Standards-Version: 3.9.3
Homepage: https://github.com/Garrappachc/Vatsinator

Package: vatsinator
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libquazip0
Description: Simple Vatsim monitor
 Vatsinator is an open-source Vatsim network monitor. It shows
 logged-in pilots and controllers, provides weather and airport information.
 Vatsinator is designed to be quick and handy, in order to be useful
 on desktops (when not flying) and note/netbooks (during flight).
